.main{
    position: absolute;
    background-color: rgba(203, 230, 206, 0.76);
    width: 100%;
    &_inner{
        width: 80%;
        margin: 0 auto;
        background-color: white;
    }
    &_first{
        margin-top: 110px;
        background-image: url("../images2/02 Cevovod od izlazne gradj. ka cvoru 2.jpg");
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 40vh;
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-transform: uppercase;
            font-size: 55px;
            color: orange;
            font-weight: 900;
            letter-spacing: 5px;
            font-style: unset;
        }
    }
}