.hed{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 5px 130px;
    z-index: 600;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    &__logo{
        h1{
            text-transform: uppercase;
            font-weight: 800;
            font-style: italic;
            margin: 0;
        }
    }
    &__menu{
        &-list{
            list-style-type: none;
            margin: 0;
            li{
            padding: 0 10px;
            margin: 0;
            a{
                color: black;
                font-weight: 700;
                text-decoration: none;
                font-size: 17px;
            }
            }
        }
    }
}
.hed::before{
    content: '';
    width: 105%;
    height: 100%;
    background-color: orange;
    display: block;
    position: absolute;
    z-index: -1;
    left: -2.5%;
    transform: skew(-25deg);
}