.hed {
  width: 75%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 130px;
  z-index: 600;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 10px;
}

.hed__logo h1 {
  color: gray;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  margin: 0;
}

.hed__menu-list {
  list-style-type: none;
  margin: 0;
}

.hed__menu-list li {
  padding: 0 10px;
  margin: 0;
}

.hed__menu-list li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 17px;
}

.hed::before {
  content: '';
  width: 105%;
  height: 100%;
  background-color: rgba(233, 216, 64, 0.9);
  display: block;
  position: absolute;
  z-index: -1;
  left: -2.5%;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
}

.owl {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.owl__figure {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.owl__image {
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 750px;
}

.owl__figcaption {
  top: 20%;
  z-index: 500;
  color: white;
  position: absolute;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
}

.owl__figcaption .foot__references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.owl__figcaption .foot__references div {
  width: 100%;
}

.owl__figcaption .foot__references div img {
  width: 50%;
}

.owl__figure--centralimg {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl__description-main {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: white;
}

.owl__description-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.owl__opacity {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.owl-carousel {
  position: relative;
  height: 100%;
}

.contact {
  overflow: hidden;
}

.contact__button {
  width: 150px;
  height: 60px;
  background-color: #fdcc2b;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translatey(-50%) translateX(50%) rotate(-90deg);
          transform: translatey(-50%) translateX(50%) rotate(-90deg);
  z-index: 700;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__button a {
  font-size: 22px;
  font-weight: 600;
  color: white !important;
}

.contact__button:hover {
  width: 200px;
  height: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact__div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
  z-index: 600;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.contact__item {
  padding: 80px 0;
}

.contact__item i {
  color: #fdcc2b;
  font-size: 40px;
}

.contact__item a {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
}

.contact__item a:hover {
  text-decoration: none;
}

.contact__item p {
  letter-spacing: 1.5px;
  font-size: 20px;
}

.owl-nav,
.owl-dots {
  display: none;
}

.foot {
  padding: 0 120px;
  width: 1450px;
  height: 100%;
}

.foot__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 10px 0;
}

.foot__top:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.212);
  display: block;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
}

.foot__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.foot__section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot__section p {
  margin: 4px 0 10px 0;
  font-size: 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.foot__section a {
  color: white;
  font-size: 18px;
  padding: 1px 0;
}

.foot__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.foot__info i {
  font-size: 30px;
  color: #e9d840;
}

.foot__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.foot__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__icon i {
  font-size: 25px;
  color: white;
  padding: 0 20px;
}

.foot #map {
  background-color: #e9d840;
  color: white;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

footer {
  background-color: #1b1b1b;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -15px;
}

@media screen and (max-width: 600px) {
  .mobile {
    width: 100%;
    display: block !important;
  }
  .mobile__header {
    background-color: #161616;
    position: relative;
    z-index: -2;
  }
  .mobile__logo h1 {
    padding: 10px;
    font-size: 32px;
    color: white;
    z-index: 999;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #161616;
  }
  .mobile__logo h1:after {
    content: '';
    background-color: #ffdc3e;
    width: 100%;
    height: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0px;
    top: 28px;
    z-index: -1;
  }
  .mobile__menu {
    height: 100%;
    position: relative;
  }
  .mobile__figure {
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    border-bottom: 1px solid white;
  }
  .mobile__figure img {
    height: 100%;
    width: 100%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile__figcaption {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 999;
    width: 100%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .mobile .one {
    background-color: black;
    z-index: 500;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  .mobile__item {
    color: white !important;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__button {
    padding: 10px 20px;
    display: block;
    border: 1px solid white;
    color: white !important;
  }
  .mobile__naslov {
    text-align: center;
    padding: 40px 40px;
    width: 100%;
  }
  .mobile__naslov h2 {
    font-size: 28px;
    color: #3f3f3f;
    margin-bottom: 20px;
    position: relative;
  }
  .mobile__naslov h2:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #ffdc3e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    top: 110px;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__naslov p {
    color: #646464;
  }
  .mobile__contact {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .mobile__phone {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__phone a {
    font-size: 17px;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__phone i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffdc3e;
  }
  .mobile__mail {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__mail a {
    font: 17px;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__mail i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffdc3e;
  }
  .mobile__adress {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__adress a {
    font-size: 17px;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__adress i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffdc3e;
  }
  .mobile__references {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__references img {
    width: 100%;
  }
  .mobile__references > div {
    width: 100%;
    padding: 0 10px 60px 10px;
  }
  .mobile__fixed {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(29, 197, 29, 0.815);
    position: fixed;
    bottom: 0;
  }
  .mobile__fixed i {
    padding: 10px 0;
    color: white;
    font-size: 30px;
  }
  header,
  section,
  footer {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

.mobile {
  display: none;
}
/*# sourceMappingURL=main.css.map */